*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: rgba(115, 141, 150, 0.1);
  font-family: 'IM Fell French Canon', serif;
}
/*navbar*/
.navbar{
  background-color: #03588C;
}

.nav-link, .navbar-toggler, .navbar-nav, .navbar-toggler-icon {
  color: white !important;
}

.navbar-nav{
margin-left: auto;
margin-right: auto;
}


@media only screen and (max-width: 420px) {
  .navbar-nav{
    margin-left: 0;
  }
}

.navbar-brand{
  margin-left: 170px;
}

.nav-link{
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.nav-link:hover{
  font-weight: 600;
  /* margin-right: 50px; */
}

@media only screen and (max-width: 420px) {
  .navbar-toggler {
    margin-right: 20px;
    color: white;

  }
}
/*end of navbar*/

/*header and bottons*/
#header{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding-top: 08rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#welcome-text{
  font-size: 18px;
  text-align: justify;
}

#header-img {
  width: 100%;
  height: auto;
}

#myBtnContainer input[type=text] {
  padding-left: 50px;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px 12px 12px;
  background-color: #dfdfdfde;
  cursor: pointer;
  margin-left: 15px;
}

@media only screen and (max-width: 420px) {
  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .btn {
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .btn .btn-filter-text {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1
    2px;
    margin-bottom: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 371px) and (min-width: 321px) {
  .btn .btn-filter-text {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
  }
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/*cards section*/
#myInput {
  background-image: url('https://img.icons8.com/android/24/000000/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  min-width: 310px;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px ; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-right: 15px;
  margin-left: 15px;
}

/*Ipad Pro*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  #myInput {
    width: 90%;
  }
  }

/*Ipad*/
@media only screen and (max-width: 768px) and (min-width: 413px) {
  #myInput {
    width: 80%;
  }
  }

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#myUL .arc a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: 10px; /* Prevent double borders */
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL .arc a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/*end of header and bottons*/

/*Cards*/
/* The "show" class is added to the filtered elements */
.carta {
  transition: opacity 1000ms , visibility  1000ms, width 1000ms , margin 1000ms ;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;;
  margin-top: 1rem;
  height: auto;
  max-width: 130px;
  max-height: 260px;
  border-radius: 5px;
}

.img-carta{
  padding-bottom: 5px;
}

.img-carta:hover{
  transform: scale(1.1);
  transition: all 200ms ease-in;
}

.carta img {
  width: 100%;
  height: auto;
  transition: opacity 1000ms , visibility 1000ms, width 0.2s , margin 1000ms ;
}

.text-img{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-top: 7px;
}

.arcanos{
  display: none; 
}

.show {
  opacity: 1;
  visibility: visible; 
  width: 80%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  cursor: pointer;
  transition: opacity 1000ms , visibility 1000ms, width 0.2s , margin 1000ms ;
  display: block;
}

  /*Ipad*/
@media only screen and (max-width: 768px) and (min-width: 413px) {
  .show{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  }

  /*Iphone 5/5SE*/
@media only screen and (max-width: 991px) and (min-width: 279px) {
  .show{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  }
  
/*footer*/
  .footer{
    width: 100%;
    height: 15rem;
    background-color: #03588c;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer-img{
    width: 26rem;
    height: auto;
  }

  .copyright, .items-footer{
    padding-top: 20px;
    font-size: 15px;
    color: white;
  }

  .items-footer{
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    
  }

  .items-footer:hover{
    font-weight: 800;
  }

/*Ipad*/
@media only screen and (max-width: 768px) and (min-width: 413px) {
  .items-footer{
    font-size: 12px;
  }
  }

  /*Iphone X/ Iphone 6/7/8*/
@media only screen and (max-width: 375px) and (min-width: 359px) {
  #footer-img{
    width: 15rem;
    height: auto;
  }
  .items-footer{
    font-size: 12px;
    }
  }

  /*Iphone6/7/8/Plus*/
@media only screen and (max-width: 414px) and (min-width: 410px) {
  #footer-img{
    width: 15rem;
    height: auto;
  }
  .items-footer{
    font-size: 12px;
    
    }
  }

  /*Iphone 5/5SE*/
@media only screen and (max-width: 320px) and (min-width: 279px) {
  #footer-img{
    width: 15rem;
    height: auto;
  }
  .items-footer{
    font-size: 10px;
    
    }
  }
 
  /*Moto G4/ Galaxy 5/SE*/
@media only screen and (max-width: 360px) and (min-width: 319px) {
  #footer-img{
    width: 15rem;
    height: auto;
  }
  .items-footer{
    font-size: 10px;
    
    }
  }

  @media only screen and (max-width: 874px) and (min-width: 769px) {
    #footer-img{
      width: 20rem;
      height: auto;
    }
    .items-footer{
      font-size: 12px;
      
      }
    }

  @media only screen and (max-width: 768px) and (min-width: 540px) {
    #footer-img{
      width: 20rem;
      height: auto;
    }
    .items-footer{
      font-size: 11px;
      
      }
    }

  @media only screen and (max-width: 409px) and (min-width: 361px) {
    #footer-img{
      width: 20rem;
      height: auto;
    }
    .items-footer{
      font-size: 11px;
      
      }
    }

    @media only screen and (max-width: 684px) and (min-width: 414px) {
      #footer-img{
        width: 20rem;
        height: auto;
      }
      .items-footer{
        font-size: 09px;
        
        }
      }

      /*scrollbar*/
    /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #03588c;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #084298;
}