*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cards-container{
    display: none;
}

body {
    background-color: rgba(115, 141, 150, 0.1);
    font-family: 'IM Fell French Canon', serif;
}

/*navbar*/
.navbar{
    background-color: #03588C;
}

.nav-link, .navbar-toggler, .navbar-nav, .navbar-toggler-icon {
    color: white !important;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 420px) {
.navbar-nav{
    margin-left: 0;
}
}

.navbar-brand{
    margin-left: 170px;
}

.nav-link{
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-link:hover{
    font-weight: 600;
}

@media only screen and (max-width: 420px) {
.navbar-toggler {
    margin-right: 20px;
    color: white;
}
}
/*end of navbar*/

/*header and bottons*/
#header{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 08rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#welcome-text{
    font-size: 18px;
    text-align: justify;
}

#header-img {
    width: 50%;
    min-width: 300px;
    height: auto;
}

/*Ipad*/
@media only screen and (max-width: 768px) and (min-width: 413px) {
    #header-img {
        width: 80%;
    }
    }

/*Ipad Pro*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
    #header-img {
        width: 80%;
    }
    }

/* The "show" class is added to the filtered elements */
.carta {
    transition: opacity 1000ms , visibility  1000ms, width 1000ms , margin 1000ms ;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2rem;;
    margin-top: 1rem;
    height: auto;
    max-width: 130px;
    max-height: 260px;
    border-radius: 5px;
}

.img-carta{
    padding-bottom: 5px;
    border-radius: 5px;
    max-width: 130px;
    max-height: 260px;
    width: 100%;
    height: auto;
    transition: opacity 1000ms , visibility  1000ms, width 1000ms , margin 1000ms ;
}

.img-carta:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in;
}

.carta img {
    width: 100%;
    height: auto;
}

.text-img{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 7px;
    color:#03588c;
}

.show {
    opacity: 1;
    visibility: visible; 
    width: 80%;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: opacity 1000ms , visibility 1000ms, width 0.2s , margin 1000ms ;
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px 12px 12px;
    /* background-color: #dfdfdfde; */
    cursor: pointer;
    margin-left: 15px;
}

@media only screen and (max-width: 420px) {
.btn {
    margin-left: 5px;
    margin-right: 5px;
}
}
@media only screen and (max-width: 320px) {
.btn {
    padding-bottom: 25px;
}
}
@media only screen and (max-width: 320px) {
.btn .btn-filter-text {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1
    2px;
    margin-bottom: 0;
    text-align: center;
}
}

@media only screen and (max-width: 371px) and (min-width: 321px) {
.btn .btn-filter-text {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
}
}

/* Add a light grey background on mouse-over */
.btn:hover {
background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
background-color: #666;
color: white;
}

.btn-random {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #dfdfdfde;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn-random:hover {
    background-color: #ddd;
    }
    
/* Add a dark background to the active button */
.btn-random.active {
    background-color: #666;
    color: white;
}
    
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#myInput {
    background-image: url('https://img.icons8.com/android/24/000000/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px ; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-right: 15px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 400px) {
#myUL{
    width: 10rem;
}
}

#myUL .arc a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: 10px; /* Prevent double borders */
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL .arc a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/*modal*/
.modal-btn, .modal-btn1, .modal-btn2, 
.modal-btn3, .modal-btn4, .modal-btn5, 
.modal-btn6, .modal-btn7, .modal-btn8,
.modal-btn9, .modal-btn10, .modal-btn11, 
.modal-btn12, .modal-btn13, .modal-btn14, 
.modal-btn15, .modal-btn16,
.modal-btn17, .modal-btn18, .modal-btn19, 
.modal-btn20, .modal-btn21 {
    margin-top: 2rem;
    color: white;
}

.modal-btn:hover, .modal-btn1:hover, 
.modal-btn2:hover, .modal-btn3:hover, 
.modal-btn4:hover, .modal-btn5:hover, 
.modal-btn6:hover, 
.modal-btn7:hover, .modal-btn8:hover, 
.modal-btn9:hover, .modal-btn10:hover, 
.modal-btn11:hover, .modal-btn12:hover, 
.modal-btn13:hover, .modal-btn14:hover, 
.modal-btn15:hover, .modal-btn16:hover, 
.modal-btn17:hover, .modal-btn18:hover,
.modal-btn19:hover, .modal-btn20:hover, 
.modal-btn21:hover {
    background: transparent;
    color: rgb(73, 166, 233); 
}

.modal-overlay, .modal-overlay1, .modal-overlay2, 
.modal-overlay3,
.modal-overlay4, .modal-overlay5, 
.modal-overlay6, .modal-overlay7,
.modal-overlay8, .modal-overlay9, 
.modal-overlay10, .modal-overlay11,
.modal-overlay12, .modal-overlay13, 
.modal-overlay14, .modal-overlay15, 
.modal-overlay16, .modal-overlay17, 
.modal-overlay18, .modal-overlay19, 
.modal-overlay20, .modal-overlay21{
    position: fixed;
    top: 150px;
    left: 10rem;
    right: 10rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    visibility: hidden;
    z-index: -10;
    background: white;
    border-radius: 15px;
    overflow-y: visible;
}

@media screen and (max-width: 420px) and (min-width: 280px) {
.modal-overlay, .modal-overlay1, .modal-overlay2, 
.modal-overlay3,
.modal-overlay4, .modal-overlay5, 
.modal-overlay6, .modal-overlay7, .modal-overlay8,
.modal-overlay9, .modal-overlay10, .modal-overlay11
.modal-overlay12, .modal-overlay13, 
.modal-overlay14, .modal-overlay15, 
.modal-overlay16, .modal-overlay17, 
.modal-overlay18, .modal-overlay19, 
.modal-overlay20, .modal-overlay21{
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
    }
    }

@media screen and (max-width: 1024px) and (min-width: 421px) {
.modal-overlay, .modal-overlay1, 
.modal-overlay2, .modal-overlay3,
.modal-overlay4, .modal-overlay5, 
.modal-overlay6, .modal-overlay7,
.modal-overlay8, .modal-overlay9, 
.modal-overlay10, .modal-overlay11,
.modal-overlay12, .modal-overlay13, 
.modal-overlay14, .modal-overlay15, 
.modal-overlay16, .modal-overlay17, 
.modal-overlay18, .modal-overlay19, 
.modal-overlay20, .modal-overlay21{
        left: 0;
        right: 0;
        width: 60%;
    }
    }

@media screen and (max-width: 1366px) and (min-width: 1025px) {
.modal-overlay, .modal-overlay1, .modal-overlay2, 
.modal-overlay3,
.modal-overlay4, .modal-overlay5, 
.modal-overlay6, .modal-overlay7,
.modal-overlay8, .modal-overlay9, 
.modal-overlay10, .modal-overlay11,
.modal-overlay12, .modal-overlay13, 
.modal-overlay14, .modal-overlay15, 
.modal-overlay16, .modal-overlay17, 
.modal-overlay18, .modal-overlay19, 
.modal-overlay20, .modal-overlay21{
        top: 200px;
        left: 0;
        right: 0;
        width: 50%;
    }
    }

/*open modal*/
.open-modal, .open-modal1, 
.open-modal2, .open-modal3,
.open-modal4, .open-modal5, 
.open-modal6, .open-modal7,
.open-modal8, .open-modal9, 
.open-modal10, .open-modal11,
.open-modal12, .open-modal13, 
.open-modal14, .open-modal15,
.open-modal16, .open-modal17, 
.open-modal18, .open-modal19, 
.open-modal20, .open-modal21 {
    visibility: visible;
    z-index: 10;
    }

.modal-container, .modal-container1, 
.modal-container2, .modal-container3,
.modal-container4, .modal-container5, 
.modal-container6, .modal-container7,
.modal-container8, .modal-container9, 
.modal-container10, .modal-container11,
.modal-container12, .modal-container13, 
.modal-container14, .modal-container15, 
.modal-container16, .modal-container17, 
.modal-container18, .modal-container19, 
.modal-container20, .modal-container21 {
    background: white;
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    }

.close-btn, .close-btn1, .close-btn2, 
.close-btn3, .close-btn4, .close-btn5,
.close-btn6, .close-btn7, .close-btn8, 
.close-btn9, .close-btn10, .close-btn11, 
.close-btn12, .close-btn13, .close-btn14, 
.close-btn15, .close-btn16, .close-btn17,
.close-btn18, .close-btn19, .close-btn20, 
.close-btn21 {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: red;
    cursor: pointer;
    transition: all 0.2s linear;
}

.close-btn:hover, .close-btn1:hover, 
.close-btn2:hover, .close-btn3:hover, 
.close-btn4:hover, .close-btn5:hover,
.close-btn6:hover, .close-btn7:hover, 
.close-btn8:hover, .close-btn9:hover, 
.close-btn10:hover, .close-btn11:hover, 
.close-btn12:hover, .close-btn13:hover, 
.close-btn14:hover, .close-btn15:hover, 
.close-btn16:hover, .close-btn17:hover,
.close-btn18:hover, .close-btn19:hover, 
.close-btn20:hover, .close-btn21:hover  {
    color: red;
    transform: scale(1.3);
}

.modal-carta, .modal-carta1, .modal-carta2, 
.modal-carta3, .modal-carta4,
.modal-carta5, .modal-carta6, .modal-carta7, 
.modal-carta8, .modal-carta9, 
.modal-carta10, .modal-carta11, 
.modal-carta12, .modal-carta13,
.modal-carta14, .modal-carta15,
.modal-carta16, .modal-carta17, 
.modal-carta18, .modal-carta19, 
.modal-carta20, .modal-carta21{
    padding-bottom: 5px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 200px;
    width: 100%;
    height: auto;
}

.col-modal, .col-modal1, .col-modal2, 
.col-modal3, .col-modal4, 
.col-modal5, .col-modal6, .col-modal7, 
.col-modal8, .col-modal9, 
.col-modal10, .col-modal11, .col-modal12, 
.col-modal13, .col-modal14, 
.col-modal15, .col-modal16, .col-modal17, 
.col-modal18, .col-modal19, 
.col-modal20, .col-modal21{
    text-align: center;
}

.title-modal-card, .title-modal-card1, 
.title-modal-card2, 
.title-modal-card3, .title-modal-card4, 
.title-modal-card5,
.title-modal-card6, .title-modal-card7, 
.title-modal-card8, 
.title-modal-card9, .title-modal-card10, 
.title-modal-card11, 
.title-modal-card12, .title-modal-card13, 
.title-modal-card14, 
.title-modal-card15, .title-modal-card16, 
.title-modal-card17,
.title-modal-card18, .title-modal-card19, 
.title-modal-card20, 
.title-modal-card21 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.text-modal, .text-modal1, .text-modal2, 
.text-modal3, .text-modal4, 
.text-modal5, .text-modal6, 
.text-modal7, .text-modal8, 
.text-modal9, .text-modal10, 
.text-modal11, .text-modal12, 
.text-modal13, .text-modal14, 
.text-modal15, .text-modal16, 
.text-modal17,
.text-modal18, .text-modal19, 
.text-modal20, .text-modal21{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.ver-articulo-btn{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #dfdfdfde;
    cursor: pointer;
}

.ver-articulo-btn:hover{
    background-color: #666;
    color: white;
}

/*footer*/
.footer{
    width: 100%;
    height: 15rem;
    background-color: #03588c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#footer-img{
width: 26rem;
height: auto;
}

.copyright, .items-footer{
padding-top: 20px;
font-size: 15px;
color: white;
}

.items-footer{
margin-right: auto;
margin-left: auto;
cursor: pointer;
}

.items-footer:hover{
font-weight: 800;
}

/*Ipad*/
@media only screen and (max-width: 768px) and (min-width: 413px) {
.items-footer{
font-size: 12px;
}
}

/*Iphone X/ Iphone 6/7/8*/
@media only screen and (max-width: 375px) and (min-width: 359px) {
#footer-img{
width: 15rem;
height: auto;
}
.items-footer{
font-size: 12px;
}
}

/*Iphone6/7/8/Plus*/
@media only screen and (max-width: 414px) and (min-width: 410px) {
#footer-img{
width: 15rem;
height: auto;
}
.items-footer{
font-size: 12px;
}
}

/*Iphone 5/5SE*/
@media only screen and (max-width: 320px) and (min-width: 279px) {
#footer-img{
width: 15rem;
height: auto;
}
.items-footer{
font-size: 10px;
}
}

/*Moto G4/ Galaxy 5/SE*/
@media only screen and (max-width: 360px) and (min-width: 319px) {
#footer-img{
width: 15rem;
height: auto;
}
.items-footer{
font-size: 10px;
}
}

@media only screen and (max-width: 874px) and (min-width: 769px) {
#footer-img{
    width: 20rem;
    height: auto;
}
.items-footer{
    font-size: 12px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 540px) {
#footer-img{
    width: 20rem;
    height: auto;
}
.items-footer{
    font-size: 11px;
    
    }
}

@media only screen and (max-width: 409px) and (min-width: 361px) {
#footer-img{
    width: 20rem;
    height: auto;
}
.items-footer{
    font-size: 11px;
    
    }
}

@media only screen and (max-width: 684px) and (min-width: 414px) {
    #footer-img{
    width: 20rem;
    height: auto;
    }
    .items-footer{
    font-size: 09px;
    
    }
    }

    /*scrollbar*/
    /* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #03588c;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #084298;
}